# Tutorial Plugin
TutorialPlugin/.vs/
TutorialPlugin/build/
TutorialPlugin/plugins/
TutorialPlugin/TutorialPlugin.sln
TutorialPlugin/TutorialPlugin/BakkesMod.props
TutorialPlugin/TutorialPlugin/IMGUI/
TutorialPlugin/TutorialPlugin/TutorialPlugin.rc
TutorialPlugin/TutorialPlugin/TutorialPlugin.vcxproj
TutorialPlugin/TutorialPlugin/TutorialPlugin.vcxproj.filters
TutorialPlugin/TutorialPlugin/TutorialPlugin.vcxproj.user
TutorialPlugin/TutorialPlugin/TutorialPluginGUI.cpp
TutorialPlugin/TutorialPlugin/fmt/
TutorialPlugin/TutorialPlugin/pch.cpp
TutorialPlugin/TutorialPlugin/pch.h
TutorialPlugin/TutorialPlugin/resource.h
TutorialPlugin/TutorialPlugin/update_version.ps1
TutorialPlugin/TutorialPlugin/version.h

# Graffiti Plugin
GraffitiPlugin/.vs/
GraffitiPlugin/GraffitiPlugin.sln
GraffitiPlugin/GraffitiPlugin/BakkesMod.props
GraffitiPlugin/GraffitiPlugin/GraffitiPlugin.rc
GraffitiPlugin/GraffitiPlugin/GraffitiPlugin.vcxproj
GraffitiPlugin/GraffitiPlugin/GraffitiPlugin.vcxproj.filters
GraffitiPlugin/GraffitiPlugin/GraffitiPlugin.vcxproj.user
GraffitiPlugin/GraffitiPlugin/GraffitiPluginGUI.cpp
GraffitiPlugin/GraffitiPlugin/IMGUI/
GraffitiPlugin/GraffitiPlugin/fmt/
GraffitiPlugin/GraffitiPlugin/pch.cpp
GraffitiPlugin/GraffitiPlugin/pch.h
GraffitiPlugin/GraffitiPlugin/resource.h
GraffitiPlugin/GraffitiPlugin/update_version.ps1
GraffitiPlugin/GraffitiPlugin/version.h
GraffitiPlugin/build/
GraffitiPlugin/plugins/

# RL Advisor Plugin
RLAdvisorPlugin/.vs/
RLAdvisorPlugin/RLAdvisorPlugin.sln
RLAdvisorPlugin/RLAdvisorPlugin/BakkesMod.props
RLAdvisorPlugin/RLAdvisorPlugin/IMGUI/
RLAdvisorPlugin/RLAdvisorPlugin/RLAdvisorPlugin.rc
RLAdvisorPlugin/RLAdvisorPlugin/RLAdvisorPlugin.vcxproj
RLAdvisorPlugin/RLAdvisorPlugin/RLAdvisorPlugin.vcxproj.filters
RLAdvisorPlugin/RLAdvisorPlugin/RLAdvisorPlugin.vcxproj.user
RLAdvisorPlugin/RLAdvisorPlugin/RLAdvisorPluginGUI.cpp
RLAdvisorPlugin/RLAdvisorPlugin/fmt/
RLAdvisorPlugin/RLAdvisorPlugin/pch.cpp
RLAdvisorPlugin/RLAdvisorPlugin/pch.h
RLAdvisorPlugin/RLAdvisorPlugin/resource.h
RLAdvisorPlugin/RLAdvisorPlugin/update_version.ps1
RLAdvisorPlugin/RLAdvisorPlugin/version.h
RLAdvisorPlugin/build/
RLAdvisorPlugin/plugins/
